.nav-item{
margin-left: 11px;
margin-right: 11px;
}
.btn_padding{
padding-left: 40px;
}
.footer_copyright_text{
color: #0f4c81;
font-size: 12px;
padding-bottom: 40px;
padding-right:100px;
}
.padding_card{
padding-top: 25px;
}
.padding_content{
padding: 30px 0px 30px 0px;
}
.card_shadow {
box-shadow: 2px 2px 19px 2px #3399ff2e;
border-radius: 0px;
}
.card_header{
padding-top: -10px;
margin-top: -50;
margin-top: -20px;
}
.font_icon_color{
color: #3399FF;
}
.copyright_color{
background-color: #0ea6e1;
}
.iframe_height{
height: 350px;
}
.footer_top{
background-color:#0faeef;
color: #fff;
font-family: "Poppins";
font-size: 13px;
}
.margin_p{
margin: 1.2px;
}
h1,h2,h3,h4,h5,h6{
font-family:"PT Serif";
font-weight: 700;
}
p{
font-family: "Poppins";
font-size: 13px;
}
a{
font-family: "Poppins";
text-decoration: uppercase;
font-size: 14px;
font-weight: bold;
color: ;
}
.bg-img{
background-image: url("image/main_shape.svg");
height:100%;
width: 1200px;
}
.contactpage_img{
background-image: url('../image/contactme.svg');
opacity: 70%;
height: 300px;
/* Center and scale the image  */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
color: #000000;
text-align: center;

}
.iframe_height_contact{
height: 610px;
}
.navbar-light .navbar-nav .nav-link {
color: #000;
}
.readmore_color{
color:white;
}
.padding_service{
padding-top: 6%;
}
.hover{
color: white;
}
.padding_service_it{
padding-top: 10%;
}
#myBtn {
display: none;
position: fixed;
bottom: 20px;
right: 30px;
z-index: 99;
font-size: 15px;
border: none;
outline: none;
background-color: #00aeef;
color: white;
cursor: pointer;
padding: 12px;
border-radius: 4px;
opacity: 0.3;
}
#myBtn:hover {
background-color:#0076a3;
}
.a.dropdown-item.active{
background:none;
}
.dropdown-item.active, .dropdown-item:active {
color: #007bff !important;
text-decoration: none;
background-color: #ffffff;
}
.background_img {
background-image: url('../image/main_shape.svg');
background-repeat: no-repeat;
background-position:right;

/*background-size: 70% 120%;*/
}

.background_about {
background-image: url('../image/about.svg');
background-repeat: no-repeat;
background-position:right;
}
 
/*background-size: 70% 120%;*/
.test {
     width: 350px;
     height: 320px;
     background-color:#00aeef;
    }
.btn-get-started {
   font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 32px;
    border-radius: 45px;
    transition: 0.5s;
    margin: 10px;
    color: #fff;
    background: #00aeef;
}
#bbtn:hover {
color:black;
}

@media (max-width: 576px) {  
  #test {
    position: relative !important;
  }
}

.padding_contact{
padding-top:7%;
}

.contactpag{
background-image: url('https://images.pexels.com/photos/1240532/pexels-photo-1240532.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
opacity: 60%;
height: 275px;
/* Center and scale the image  */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
color: #ffffff;
text-align: center;

}
.btn_contact{
    font-size: 16px;
    letter-spacing: 1px;
    padding: 6px 20px;
    border-radius: 4px;
    transition: 0.2s;
    position: relative; 
    color: dark;
    background: #ffffff;
}

.column {
  float: left;
  width: 20%;
  padding: 5px;
}

.blogpage{
background-image: url('https://images.pexels.com/photos/733856/pexels-photo-733856.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
opacity:95%;
height: 275px;
/* Center and scale the image  */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
color: #ffffff;
text-align: center;
padding-top:10%;

}

.card_head{
padding-top: -10px;
margin-top: -50;
margin-top: -50px;
}
.unorder_list{
  font-size: 17px;
}

.img_moment:hover {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}


.flip-box {
  background-color: transparent;
  width: 250px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: #bbb;
  color: black;
}

.flip-box-back {
  background-color: #02aeef;
  color: white;
  transform: rotateY(180deg);
}

.a {
    font-size: 12px;
    font-weight: bold;
  }
.pb-4, .py-4,.pt-3, .py-3 {
    padding-bottom: 0rem; 
    padding-top: 0rem;
}

.hr_margin{
  margin-bottom: -0.0rem;
  margin-top: -0.2rem;
}

.read_color{
  color: #0faeef;
}

.header-top-left {
    margin-bottom: 0;
    padding: 5px 0;
}

.a_size {
    font-weight: normal;
  }



  /* Create a sticky/fixed navbar */
#navbar {
  overflow: hidden;
  
  padding: 10px 5px; /* Large padding which will shrink on scroll (using JS) */
  transition: 0.4s; /* Adds a transition effect when the padding is decreased */
  position: fixed; /* Sticky/fixed navbar */
  width: 100%;
  top: 0; /* At the top */
  z-index: 55;
}

/* Style the navbar links */
#navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 15px;
  line-height: 1px;
  border-radius: 1px;
}

/* Style the logo */
#navbar #logo {
  font-size: 20px;
  font-weight: bold;
  transition: 0.4s;
}

/* Links on mouse-over 
#navbar a:hover {
  background-color: #ffffff;
  color: black;
} */

/* Style the active/current link */
/*#navbar a.active {
  background-color: dodgerblue;
  color: white;
} */

/* Display some links to the right */
#navbar-right {
  float: right;
}

/* Add responsiveness - on screens less than 580px wide, display the navbar vertically instead of horizontally */
@media screen and (max-width: 580px) {
  #navbar {
    padding: 73px 2px !important; /* Use !important to make sure that JavaScript doesn't override the padding on small screens */
  }
  #navbar a {
    float: none;
    display: block;
    text-align: left;
 }
  #navbar-right {
    float: none;
  }
}

   